version: 2

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:12

jobs:
  code-checkout:
    <<: *defaults
    steps:
      - checkout
      - run: npm install
      - persist_to_workspace:
          root: ~/repo
          paths: .

  publish:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - add_ssh_keys
      - run: ./scripts/pre-deploy.sh
      - deploy:
          command: npm run release

workflows:
  version: 2

  publish:
    jobs:
      - code-checkout:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - publish:
          requires:
            - code-checkout
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
